/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player {
  min-width: 720px;
  border: 4px solid #777;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.controls {
  min-width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 4px solid hsl(0, 50%, 47%);
  border-radius: 0 0 15px 15px;
  overflow: hidden;
}
.control {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.control *{
    margin: 1px;
    border: solid #777 2px;
    border-radius: 4px;
}
.state{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: .5rem;
}
.state i{
  font-size: 2rem;
}
.control input {
  width: 66%;
}
.control button{
    width: 33%;
}
